:root {
  --background-color: rgb(211, 227, 240);
  --primary-text: rgb(91, 80, 76);
  --secondary-text: rgb(49, 49, 28);
  --border-color: rgb(17, 60, 21, 1);
  --hover-text: rgb(119, 156, 166, 0.45);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: var(--primary-color);
  font-family: Helvetica, Arial, sans-serif;
  background-color: var(--background-color);
}

/* Apply styles to header */
header {
  padding: 20px 35px;
  background-color: var(--background-color);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  top: 0;
  background-image: url("../Images/Mountains.jpeg");
  background-size: cover;
  background-position: center;
  position: -webkit-sticky;
  position: sticky;
  background-attachment: fixed;
  background-position: 65%;
  z-index: 9999;
}

header h1 {
  font-weight: bold;
  font-size: 36px;
  color: var(--secondary-text);
  margin: 0;
}

header a {
  text-decoration: none;
  color: var(--secondary-text);
}

header nav {
  margin: 7px 0;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

header nav ul li a,
footer nav ul li a {
  padding: 10px 15px;
  font-weight: lighter;
}

header nav ul li a:hover {
  background-color: var(--hover-text);
}
/* Apply styles to Hero */
.hero {
  background-image: url("../Images/Mountains.jpeg");
  background-size: cover;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  background-attachment: fixed;
  background-position: 50%;
  padding: 20px;
  height: 800px;
}

.subtitle {
  border: 3px solid var(--border-color);
  background-color: var(--border-color);
  padding: 5px;
  width: auto;
  border-radius: 7px;
  font-size: 25px;
  justify-content: flex-end;
  color: white;
}

/* Bio section begins  */

.gap {
  margin-top: 10px;
  color: var(--background-color);
  font-size: 50px;
}

.section-title {
  font-size: 40px;
}

/* .titlediv {
  width: 15%;
  border-right: 5px solid var(--border-color);
  margin-top: 10px;
  margin-bottom: 10px;
}
@include media-breakpoint-down(md) {
  .titlediv {
    border-bottom: 5px solid var(--border-color);
    border-right: none;
  }
} */

.skill-icons {
  margin: 5px;
}

.contacts {
  display: flex;
  /* border-bottom: 5px solid var(--border-color); */
  margin-top: 10px;
  margin-bottom: 10px;
}

.card-deck,
.bio {
  margin-left: 0px;
}

.btn {
  margin: 5px;
}

.container-fluid {
  width: 95%;
  margin: 25px;
}

/* Footer/Contact me section begins */
footer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
  background-color: var(--hover-text);
  padding-top: 7px;
}

footer nav ul {
  margin: 7px 0;
  display: flex;
  justify-content: space-around;
  font-size: 20px;
  flex-wrap: wrap;
  list-style: none;
}

footer h2 {
  font-size: 35px;
  text-align: center;
}

.fa:hover {
  opacity: 0.7;
}

.icons:hover {
  color: rgb(0, 123, 255, 0.25);
}

.fa-linkedin {
  color: #0e76a8;
}

.fa-github {
  color: #171515;
}

.icons {
  color: lavenderblush;
}

/* media query for 980px and smaller */
@media screen and (min-width: 1300px) {
  .hero {
    padding: 20px;
    height: 800px;
  }

  header h1 {
    font-size: 50px;
  }

  header ul li a {
    font-size: 25px;
  }

  .bio {
    font-size: 25px;
  }
}

@media screen and (max-width: 980px) {
  header {
    padding-bottom: 0;
    justify-content: center;
    width: 100%;
  }

  header h1 {
    width: 100%;
    text-align: center;
  }

  header nav ul {
    text-align: center;
    width: 100%;
  }
}

/* mediaquery for tablets and smaller styles for screens 768px and smaller */
@media screen and (max-width: 768px) {
  .hero {
    height: 700px;
  }
}
