:root {
    --background-color: rgb(80, 255, 235);
    --primary-color: coral; 
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: var(--primary-color);
    font-family: Helvetica, Arial, sans-serif;
    background-color: rgb(211, 227, 240);
}

section {
    padding: 60px;
}

/* Apply styles to header */
header {
    padding: 20px 35px;
    background-color: var(--background-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    top: 0;
    background-image: url("../Images/Mountains.jpeg");
    background-size: cover;
    background-position: center;
    position: -webkit-sticky;
    position: sticky;
    background-attachment: fixed;
    background-position: 65%;
    z-index: 9999;
}

header h1 {
    font-weight: bold;
    font-size: 36px;
    color: var(--primary-color);
    margin: 0;
}

header a {
    text-decoration: none;
    color: var(--primary-color);
}

header nav {
    margin: 7px 0;
}

header nav ul, footer nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a, footer nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
}

/* Apply styles to Hero */
.hero {
    background-image: url("../images/mountains.jpeg");
    background-size: cover;
    display: flex;
    justify-content: right;
    flex-wrap: wrap;
    align-items: flex-end;
    background-attachment: fixed;
    background-position: 65%;
    padding: 200px;
}

.subtitle {
    border: 3px solid var(--background-color);
    background-color: var(--background-color);
    padding: 5px;
    width: 28%;
    margin: -12.5%;
    border-radius: 7px;
    font-size: 25px;
    justify-content: flex-end;
}

/* Bio section begins  */
.section-title {
    font-size: 40px;
    border-right: 3px solid;
    padding-right: 140px;
    text-align: left;
    width: 50%;
    margin: 0 auto 35px auto;
    justify-content: center;

}

.primary-border {
    border-color: var(--primary-color);
}

.bio {
    display: flex;
    flex-direction: row;
}

.bio p {
    line-height: 1.7;
    width: 100%;
    font-size: 17px;
    margin: 0 auto;
    text-align: left;

}

/* My work section begins  */
main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.smaller-projects {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    flex: 0 0 400px;
    justify-content: space-evenly;
}

.work {
    border: 5px solid navy;
    text-align: center;
    padding: 10px;
    background-color: navy;
    margin: 20px;
}

.main-project {
    width: 75%;
}
/* Footer/Contact me section begins */
footer {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}

footer nav {
    margin: 7px 0;
    display: flex;
    justify-content: space-evenly;
}

.fa {
    padding: 10px;
    font-size: 30px;
    width: 35px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
  }

  .fa:hover {
    opacity: 0.7;
  }

.fa-linkedin {
    background: #0e76a8;
    color: white
}

.fa-github {
    background: #171515;
    color: white;
}