:root {
    --background-color: rgb(211, 227, 240);
    --primary-text: rgb(91, 80, 76);
    --secondary-text: rgb(49, 49, 28);
    --border-color: rgb(59, 143, 73);
    --hover-text: rgb(119, 156, 166, .45);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: var(--primary-color);
    font-family: Helvetica, Arial, sans-serif;
    background-color: var(--background-color);
}

section {
    padding: 60px;
}

/* Apply styles to header */
header {
    padding: 20px 35px;
    background-color: var(--background-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    top: 0;
    background-image: url("../Images/Mountains.jpeg");
    background-size: cover;
    background-position: center;
    position: -webkit-sticky;
    position: sticky;
    background-attachment: fixed;
    background-position: 65%;
    z-index: 9999;
}

header h1 {
    font-weight: bold;
    font-size: 36px;
    color: var(--secondary-text);
    margin: 0;
}

header a {
    text-decoration: none;
    color: var(--secondary-text);
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a, footer nav ul li a{
    padding: 10px 15px;
    font-weight: lighter;
}

header nav ul li a:hover {
    background-color: var(--hover-text);
}
/* Apply styles to Hero */
.hero {
    background-image: url("../Images/Mountains.jpeg");
    background-size: cover;
    display: flex;
    justify-content: right;
    flex-wrap: wrap;
    align-items: flex-end;
    background-attachment: fixed;
    background-position: 65%;
    padding: 200px;
}

.subtitle {
    border: 3px solid var(--border-color);
    background-color: var(--border-color);
    padding: 5px;
    width: 28%;
    margin: -12.5%;
    border-radius: 7px;
    font-size: 25px;
    justify-content: flex-end;
}

/* Bio section begins  */
.section-title {
    font-size: 48px;
    border-bottom: 3px solid;
    padding-bottom: 20px;
    text-align: center;
    width: 40%;
    margin: 0 auto 35px auto;
}

.primary-border {
    border-color: var(--primary-color);
}

.bio {
    display: flex;
    flex-direction: column;
}

.bio p {
    line-height: 1.7;
    width: 100%;
    font-size: 17px;
    margin: 0 auto;
    text-align: center;

}

/* My work section begins  */
main {
    flex: wrap;
    margin: 20px;
    flex-direction: row;
}

.smaller-projects {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    flex: 0 0 400px;
    justify-content: space-evenly;
}

.container {
    position: relative;
    padding: 10px;
    margin: 20px;
}

  .text-block {
    position: absolute;
    bottom: 20px;
    right: 0px;
    background-color: var(--border-color);
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
  }

  .text-block-1 {
    position: absolute;
    bottom: 20px;
    right: -50px;
    background-color: var(--border-color);
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
  }

.main-project {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
    margin-left: 27%;
}

.container:hover {
    opacity: 0.7;
}

/* Footer/Contact me section begins */
footer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
}

footer nav ul {
    margin: 7px 0;
    display: flex;
    justify-content: space-around;
    font-size: 20px;
    flex-wrap: wrap;
    list-style: none;
}

footer h2 {
    font-size: 35px;
    text-align: center;
}

.fa {
    padding: 10px;
    font-size: 30px;
    width: 35px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
  }

  .fa:hover {
    opacity: 0.7;
  }

.fa-linkedin {
    background: #0e76a8;
    color: white
}

.fa-github {
    background: #171515;
    color: white;
}